<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4" >
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <h1>Contact Us</h1>
                </div>
                
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">Name</label>
                <input name="name"[(ngModel)]="name" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">Designation</label>
                <input name="designation"[(ngModel)]="designation" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">Phone Number</label>
                <input name="phoneNumber"[(ngModel)]="phoneNumber" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">Email</label>
                <input name="email"[(ngModel)]="email" type="email" name="" id="" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label">Subject</label>
                <textarea name="subject"[(ngModel)]="subject" id="" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <button (click)="readValues()" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
</div>
