<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
            <h1>Welcome to Nest Digital</h1>
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img height="600px" src="https://scontent.fcok14-1.fna.fbcdn.net/v/t1.6435-9/160004780_3488554174582937_1545936470297416469_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=e3f864&_nc_ohc=2PbcrNbr4fQAX8OqihW&_nc_ht=scontent.fcok14-1.fna&oh=00_AfAOJGUdm_XyWMKIdndQ5QS5saCbibM82k9K2a5g6gIljw&oe=63AF8A55" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img height="600px" src="https://scontent.fcok14-1.fna.fbcdn.net/v/t39.30808-6/177941239_3846368792134805_7299550653957693964_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=e3f864&_nc_ohc=gv5jq_0WOKoAX9uhm4e&_nc_ht=scontent.fcok14-1.fna&oh=00_AfDkRo1e6AcKQzIWXocKJB0WEKQX7xRz8GzzzWUPggfP-A&oe=638DDCA5" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img height="600px" src="https://scontent.fcok14-1.fna.fbcdn.net/v/t1.6435-9/197847256_3728480333923652_6406071816267191041_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=e3f864&_nc_ohc=vE4yxJhwXusAX-jpfF3&_nc_ht=scontent.fcok14-1.fna&oh=00_AfB1k2DYp4wl3L-V6PrzEU-SdXWZ-sFf3V2kahwYiUAAjA&oe=63AF5E02" class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
